@use "../styles/mixins" as *;

.change-password-container {
  background-color: var(--color-user-nav-bg);
  border-radius: 0.4rem;
  padding: 2rem;
  @media screen and (min-width: 768px) {
    padding: 2rem 4rem;
  }

  @media screen and (min-width: 768px) {
    width: 70%;
  }

  .form-container {
    .error {
      color: var(--color-error);
      font-size: 1rem;
      margin-block: 0.2rem;
    }
    input {
      @include inputBox();
      background-color: var(--color-input-bg);
      color: var(--color-text);

      width: 100%;
      @media screen and (min-width: 768px) {
        width: 95%;
      }
      margin-block: 0.8rem 0;
    }
  }
  .change-password-btn {
    padding: 1.3rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    line-height: 2rem;
    min-width: 25%;
    margin-block: 1.5rem 2.5rem;
    cursor: pointer;
    background-color: var(--color-btn);
    border: none;
    color: var(--color-add-product-btn-text);
  }
}
