@use "../styles/mixins" as *;

.admin-dashboard-container {
  display: flex;

  // background-color: var(--color-admin-dashboard-bg);

  .side-bar {
    flex: 20%;
    max-width: 20%;
    // background-color: var(--color-admin-dashboard-foreground);
  }

  .table-container {
    flex: 80%;
    max-width: 80%;
    background-color: var(--color-admin-dashboard-foreground);

    .container {
      width: 90%;
      margin: auto;

      .heading {
        font-size: 2rem;
        margin-block: 2rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 0.2rem;
        overflow: hidden;

        thead tr {
          background-color: #009879;
          background-color: #b0d8d8;

          color: var(--color-text);
          text-align: left;
          font-weight: bold;
        }

        th,
        td {
          padding: 1.2rem 1.5rem;
          color: var(--color-text);
        }

        tbody tr {
          border-bottom: 0.1rem solid #dddddd;
        }

        tbody tr:nth-child(odd) {
          background-color: var(--color-bg);
          &:hover {
            background-color: var(--color-user-nav-hover);
          }
        }

        tbody tr:nth-child(even) {
          background-color: var(--color-profile-page-bg);
          &:hover {
            background-color: var(--color-user-nav-hover);
          }
        }
      }
    }
  }
}
