@use "../styles/mixins" as *;

.edit-product-container {
  display: flex;
  background-color: var(--color-admin-dashboard-bg);

  .side-bar {
    flex: 18%;
    max-width: 18%;
    transition: all 0.6s ease;
  }

  .side-bar.hide {
    flex: 0;
    max-width: 0;
    overflow: hidden;
  }

  .error {
    color: var(--color-error);
    font-size: 0.95rem;
    margin-block: 0.2rem;
  }

  .form-container {
    // flex: 82%;
    // max-width: 82%;
    flex-grow: 1;

    .container {
      width: 95%;
      margin: auto;

      .heading-container {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
        gap: 1rem;

        .toggle-sidebar {
          color: var(--color-text);
          width: clamp(2rem, 1.5vw, 2.7rem);
          height: clamp(2rem, 1.5vw, 2.7rem);
          cursor: pointer;
          user-select: none;
        }

        .heading {
          font-size: clamp(1.8rem, 1.5vw, 2.2rem);
          color: var(--color-text);
        }
      }

      .form-wrapper {
        margin-block: 2rem 3rem;

        .form-wrapper-container {
          display: flex;
          gap: 2rem;

          .first-container {
            flex: 60%;
            max-width: 60%;
            background-color: var(--color-admin-dashboard-foreground);
            border-radius: 1.5rem;
            padding: 2rem 2.5rem;

            input {
              @include inputBox();
              margin-block: 0.8rem 0;

              // color: var(--color-text);
            }

            .description-label {
              margin-bottom: 0.8rem;
            }

            .editor {
              // .tox .tox-tinymce .tox-platform-touch {
              // background-color: var(--color-admin-dashboard-foreground);
              // color: var(--color-text);
              // }
              .tox-tinymce {
                border-radius: 0.4rem;
              }

              .tox-editor-header {
                border-bottom: 0.0625rem solid #ccc;
              }

              // .tox-edit-area {
              //   border-bottom: 0.0625rem solid #ccc;
              //   background-color: var(--color-admin-dashboard-foreground);
              //   color: var(--color-text);
              // }
            }

            .image-label {
              margin-block: 0.2rem 0.8rem;
            }

            .preview {
              display: flex;
              gap: 1rem;
              flex-wrap: wrap;
              margin-top: 2rem;

              .preview-single-image {
                position: relative;

                .image-style {
                  width: 10rem;
                  height: 10rem;
                  border: 0.0625rem solid black;
                  object-fit: cover;
                }

                .preview-close {
                  position: absolute;
                  top: 0.1rem;
                  right: 0.1rem;
                  color: #000;
                  height: 1.8rem;
                  width: 1.8rem;
                }
              }

              .preview-drop-zone {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
              }
            }
          }
          .second-container {
            flex-grow: 1;
            // flex: 30%;
            // max-width: 30%;
            background-color: var(--color-admin-dashboard-foreground);
            border-radius: 1.5rem;

            .container {
              width: 90%;
              margin: auto;
              margin-block: 2rem 3rem;

              .select {
                input {
                  color: #2c2c2a;
                  font-weight: 500;
                  font-size: clamp(1.45rem, 1vw, 1.55rem);
                  &::placeholder {
                    color: #999 !important;
                    font-family: "Poppins";
                    font-size: clamp(1.3rem, 1vw, 1.45rem);
                  }
                }
              }

              input {
                @include inputBox();
                margin-block: 0.8rem 0rem;

                // background-color: var(--color-admin-dashboard-foreground);
                // color: var(--color-text);
              }
              .add-product-button {
                padding: 1.3rem 2rem;
                background-color: var(--color-add-product-btn-bg);
                border: none;
                color: var(--color-add-product-btn-text);
                font-size: 1.6rem;
                border-radius: 0.3rem;
                width: 100%;
                margin-block: 1.5rem 2.5rem;
                cursor: pointer;
              }

              // select {
              //   padding: 0.8rem 1rem;
              //   font-size: 1.45rem;
              //   // font-weight: 550;

              //   width: 100%;
              //   outline: none;
              //   // border: none;
              //   border-radius: 0.4rem;
              //   color: #2c2c2a;

              //   option {
              //     color: red;
              //     padding-block: 5rem;
              //     font-size: 1.45rem;
              //   }
              // }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .edit-product-container {
    // flex-direction: column;

    // .side-bar {
    // flex-grow: 1;
    // max-width: 100%;
    // }

    .form-container {
      // flex-grow: 1;
      // max-width: 100%;
      .container {
        .form-wrapper {
          .form-wrapper-container {
            flex-direction: column;

            .first-container {
              flex-grow: 1;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
