.container {
  display: flex;
  /* justify-content: center; */
  /* padding: 0.5rem 0; */
  color: #fff;
  flex-direction: column;
  /* gap: 10rem; */
  /* background-color: #171613; */
  background-color: rgb(43, 42, 42);
  /* background-color: rgb(222, 235, 235); */
  /* background-color: rgb(0, 110, 255); */
}

.light-container {
  display: flex;
  /* justify-content: center; */
  /* padding: 0.5rem 0; */
  color: #171613;
  flex-direction: column;
  /* gap: 10rem; */
  background-color: #f0f2f5;
  /* background-color: rgb(222, 235, 235); */
  /* background-color: rgb(0, 110, 255); */
}

.first-container {
  display: flex;
  justify-content: center;
  gap: 14rem;
  padding-bottom: 1.5rem;
}

.info {
  width: 25rem;
}

.logo-heading {
  font-size: 2.3rem;
  padding: 0;
  margin: 3rem 0 2.4rem 0;
}

.company-info {
  text-align: justify;
  font-size: 1.4rem;
  padding: 0;
  margin-top: 0;
}

.site-theme {
  margin-top: 1rem;
}
.theme-heading {
  font-size: 2rem;
}

.light-theme {
  background-color: #fff;
  cursor: pointer;
  height: 3.4rem;
  width: 3.4rem;
  border: none;
  border-radius: 0.5rem;
  border: 0.2rem solid gray;
  margin: 0 2rem 0 0;
}

.dark-theme {
  background-color: #171613;
  cursor: pointer;
  height: 3.4rem;
  width: 3.4rem;
  border: 0.2rem solid gray;
  border-radius: 0.5rem;
}

.others {
  display: flex;
  gap: 14rem;
  margin-top: 1.6rem;
}

.quick-links p,
.account p,
.products p,
.quick-links-light p,
.account-light p,
.products-light p {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 2.5rem;
}
.links-heading,
.account-heading,
.product-heading,
.follow-heading {
  font-size: 1.8rem;
}

.quick-links a,
.account a,
.products a {
  text-decoration: none;
  color: #fff;
}

.quick-links-light a,
.account-light a,
.products-light a {
  text-decoration: none;
  color: #171613;
}

.facebookIcon {
  height: 2.3rem;
  width: 2.3rem;
  color: #fff;
  padding-right: 1rem;
}

.facebookIcon-light {
  height: 2.3rem;
  width: 2.3rem;
  color: #171613;
  padding-right: 1rem;
}

.instagramIcon,
.twitterIcon,
.youtubeIcon {
  height: 2.3rem;
  width: 2.3rem;
  color: #fff;
  padding: 0 1rem;
  margin-top: 0.9rem;
}

.instagramIcon-light,
.twitterIcon-light,
.youtubeIcon-light {
  height: 2.3rem;
  width: 2.3rem;
  color: #171613;
  padding: 0 1rem;
  margin-top: 0.9rem;
}

.copyright .line {
  width: 132rem;
  border: none;
  height: 0.1rem;
  background-color: rgb(114, 111, 111);
  color: rgb(114, 111, 111);
}
.copyright p {
  text-align: center;
  /* padding-top: 1rem; */
}
