@use "../styles/mixins" as *;

.footer-container {
  color: var(--color-text);
  background-color: var(--color-bg);

  .container {
    max-width: 84%;
    margin-inline: auto;
  }
  .first-container {
    @include flexBox(row, space-between);
    padding-block: 1.5rem;

    .about {
      flex-basis: 25%;

      .info {
        .logo-heading {
          font-size: clamp(1.8rem, 1.5vw, 2.3rem);
          /* font-size: calc(0.7rem + 1vmax); */
          padding: 0;
          margin-bottom: 2.1rem;
        }

        .company-info {
          text-align: justify;
          font-size: clamp(0.8rem, 1.2vw, 1.45rem);
          /* font-size: 1.4rem; */
          line-height: 1.6;
        }
      }
    }
  }
}

.site-theme {
  .theme-heading {
    margin-block: 2rem 1.7rem;
    font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  }

  .light-theme-btn {
    background-color: #fff;
    cursor: pointer;
    height: 3.2rem;
    width: 3.2rem;
    border: none;
    border-radius: 0.5rem;
    border: 0.2rem solid gray;
  }

  .dark-theme-btn {
    background-color: #171613;
    cursor: pointer;
    height: 3.2rem;
    width: 3.2rem;
    border: 0.2rem solid gray;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
  }
}

.footer-others {
  @include flexBox(row, space-between);
  flex-basis: 55%;
  /* flex-wrap: wrap; */

  .quick-links p,
  .account p,
  .products p {
    margin-bottom: 2.5rem;
  }

  .quick-links ul,
  .account ul,
  .products ul {
    li {
      font-size: clamp(0.8rem, 1.4vw, 1.45rem);
      margin-bottom: 2.5rem;
    }
  }
}

.links-heading,
.account-heading,
.product-heading,
.follow-heading {
  font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

.footer-social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  .facebook-icon,
  .instagram-icon,
  .twitter-icon,
  .youtube-icon {
    height: 2.1rem;
    width: 2.1rem;
    color: var(--color-text);
    margin-top: 2.5rem;
  }
}

.copyright-container {
  .copyright {
    .line {
      width: 100%;
      border: none;
      height: 0.1rem;
      background-color: rgb(114, 111, 111);
      color: rgb(114, 111, 111);
    }

    p {
      text-align: center;
      padding-block: 1rem;
      font-size: clamp(1.2rem, 1.2vw, 1.45rem);
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer-others {
    flex-basis: 68%;
  }

  .site-theme {
    .theme-heading {
      margin-block: 1.8rem 1rem;
    }

    .light-theme-btn {
      height: 3rem;
      width: 3rem;
    }

    .dark-theme-btn {
      height: 3rem;
      width: 3rem;
      margin-left: 1rem;
    }
  }

  .footer-social-media {
    .facebook-icon,
    .instagram-icon,
    .twitter-icon,
    .youtube-icon {
      height: 1.6rem;
      width: 1.6rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .none {
    display: none;
  }

  .footer-container {
    .first-container {
      .about {
        flex-basis: 40%;
      }
      .site-theme {
        .theme-heading {
          margin-block: 0 1.5rem;
          font-size: 1.6rem;
        }
      }

      .light-theme-btn {
        height: 2.9rem;
        width: 2.9rem;
      }

      .dark-theme-btn {
        height: 2.9rem;
        width: 2.9rem;
        margin-left: 1rem;
      }
    }
  }
  .footer-others {
    flex-basis: 40%;

    .follow-heading {
      font-size: 1.6rem;
    }
    .facebook-icon,
    .instagram-icon,
    .twitter-icon,
    .youtube-icon {
      height: 2rem;
      width: 2rem;
      color: var(--color-text);
      margin-top: 1.8rem;
    }
  }
}
