@use "../styles/mixins" as *;

.forgot-password-container {
  background-color: var(--color-profile-page-bg);
  padding-block: 5rem;

  .container {
    max-width: 83.5%;
    margin-inline: auto;
    min-height: 20vh;
    min-height: 20svh;
    background-color: var(--color-user-nav-bg);
    border-radius: 0.4rem;
    padding: 2rem;
    @media screen and (min-width: 768px) {
      padding: 2.5rem 4rem;
    }
  }

  .form-container {
    .error {
      color: var(--color-error);
      font-size: 1rem;
      margin-block: 0.2rem;
    }
    input {
      @include inputBox();
      background-color: var(--color-input-bg);
      color: var(--color-text);
      @media screen and (min-width: 768px) {
        width: 80%;
      }
      margin-block: 1rem 0.8rem;
    }
  }
  .send-email-btn {
    padding: 1.2rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    line-height: 2rem;
    min-width: 15%;
    margin-block: 1.2rem 2.5rem;
    cursor: pointer;
    background-color: var(--color-btn);
    border: none;
    color: var(--color-add-product-btn-text);
  }
}
