@use "../styles/mixins" as *;

.admin-product-container {
  display: flex;
  background-color: var(--color-admin-dashboard-bg);

  .side-bar {
    flex: 18%;
    max-width: 18%;
    transition: all 0.6s ease;
  }

  .side-bar.hide {
    flex: 0;
    max-width: 0;
    overflow: hidden;
  }

  .table-container {
    // flex: 82%;
    // max-width: 82%;
    flex-grow: 1;
    overflow: hidden;

    // background-color: var(--color-admin-dashboard-foreground);
    // background-color: var(--color-profile-page-bg);

    // background-color: #0b1622;

    // overflow-x: auto;

    .container {
      width: 94%;
      margin: auto;

      .heading-container {
        display: flex;
        margin-top: 1.5rem;
        align-items: center;
        gap: 1rem;

        .toggle-sidebar {
          color: var(--color-text);
          width: clamp(2rem, 1.5vw, 2.7rem);
          height: clamp(2rem, 1.5vw, 2.7rem);
          cursor: pointer;
          user-select: none;
        }

        .heading {
          font-size: clamp(1.8rem, 1.5vw, 2.2rem);
          color: var(--color-text);
        }
      }

      .table {
        overflow-x: auto;
        background-color: var(--color-admin-dashboard-foreground);
        // border: 0.0625rem solid var(--color-admin-dashboard-border);
        margin-block: 2rem;
        border-radius: 1.5rem;

        @media screen and (min-width: 768px) {
          padding: 1.5rem 3rem 3rem 3rem;
        }
        @media screen and (max-width: 768px) {
          padding: 1.5rem;
        }

        .search-div {
          // margin-block: auto;
          display: flex;
          justify-content: space-between;

          // width: max-content;

          .search-bar {
            position: relative;

            .search-input {
              background-color: var(--color-admin-dashboard-foreground);
              // outline: none;
              border: 0.0625rem solid var(--color-admin-dashboard-border);
              color: var(--color-search-text);
              border-radius: 0.4rem;
              padding-block: 0.9rem;
              padding-left: 3.5rem;
              font-size: clamp(1.2rem, 1.5vw, 1.4rem);
              width: 100%;
              font-family: inherit;
              margin-bottom: 2rem;

              @media screen and (max-width: 768px) {
                padding-left: 1.5rem;
              }
            }

            .search-icon {
              position: absolute;
              top: 1.2rem;
              left: 1.3rem;

              color: #999;
              width: clamp(1.4rem, 1.5vw, 1.8rem);
              height: clamp(1.4rem, 1.5vw, 1.8rem);

              @media screen and (max-width: 768px) {
                top: 1.5rem;
                left: 0;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }

          .add-product {
            display: flex;
            gap: 1rem;
            padding: 1rem;
            background-color: var(--color-add-product-btn-bg);
            border: none;
            color: var(--color-add-product-btn-text);

            font-size: clamp(1rem, 1.5vw, 1.35rem);
            font-weight: 600;
            border-radius: 0.4rem;
            cursor: pointer;

            @media screen and (max-width: 500px) {
              gap: 0.5rem;
              padding: 0.7rem 0.5rem;
            }

            .add-icon {
              font-size: clamp(1.4rem, 1.5vw, 1.6rem);
              color: var(--color-add-product-btn-text);
            }
          }
        }
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 0.4rem;
        // border: 1px solid black;
        overflow: hidden;

        thead tr {
          background-color: var(--color-user-nav-hover);
          // background-color: var(--color-admin-table-head);
          color: var(--color-text);
          text-align: left;
          font-weight: bold;
          font-size: clamp(1.2rem, 1.5vw, 1.45rem);
        }

        th,
        td {
          @media screen and (min-width: 768px) {
            padding: 1.2rem 1.5rem;
          }

          @media screen and (max-width: 768px) {
            padding: 0.5rem;
          }

          color: var(--color-text);
        }

        td {
          // font-size: 1.35rem;
          font-size: clamp(1.1rem, 1.5vw, 1.35rem);
        }

        td.button-container {
          display: flex;
          // flex-direction: column;
          gap: 1vw;

          .edit-btn {
            height: clamp(1rem, 1.5vw, 1.7rem);
            width: clamp(1rem, 1.5vw, 1.7rem);
            color: var(--color-text);
          }
          .delete-btn {
            height: clamp(1rem, 1.5vw, 1.5rem);
            width: clamp(1rem, 1.5vw, 1.5rem);
            color: var(--color-text);
          }
        }

        tbody tr {
          &:hover {
            background-color: var(--color-user-nav-hover);
            cursor: pointer;
          }
        }

        // tbody tr:nth-child(odd) {
        //   //   background-color: var(--color-bg);
        //   &:hover {
        //     background-color: var(--color-user-nav-hover);
        //     cursor: pointer;
        //   }
        // }

        // tbody tr:nth-child(even) {
        //   //   background-color: var(--color-profile-page-bg);
        //   &:hover {
        //     background-color: var(--color-user-nav-hover);
        //     cursor: pointer;
        //   }
        // }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .admin-side-bar {
    position: fixed;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    width: 0;
    background-color: var(--color-swal-bg);
    color: var(--color-text);
    z-index: 2;
    transition: width 0.6s ease;

    box-shadow: 0 0 0 100rem rgba(128, 128, 128, 0.1);

    .close {
      position: relative;
      margin-bottom: 2rem;

      .cancel-btn {
        position: absolute;
        top: 1rem;
        right: 2rem;
        height: 2rem;
        width: 2rem;
        cursor: pointer;
      }
    }
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background: gainsboro;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .admin-side-bar.none {
    box-shadow: none;
    overflow: hidden;
  }
}

// @media screen and (max-width: 768px) {
//   .admin-side-bar {
//     width: 5rem;
//   }
// }
