.product-container {
  background-color: var(--color-admin-dashboard-bg);
  font-family: "Open Sans";
  // font-weight: 550;
  .container {
    width: 84%;
    margin: auto;
    padding-block: 2rem;
    // background-color: var(--color-admin-dashboard-foreground);

    .wrapper {
      // background-color: var(--color-admin-dashboard-foreground);
      display: flex;
      // padding: 2rem 1.5rem;
      // border-radius: 0.4rem;

      .product-image-container {
        flex: 45%;
        max-width: 45%;
        height: 60vh;
      }

      .product-details-container {
        flex: 55%;
        max-width: 55%;

        .details-container {
          width: 90%;
          margin: auto;
        }

        color: var(--color-text);

        .heading {
          font-size: 2.7rem;
        }

        .brand {
          margin-block: 0.7rem 1rem;
          font-size: 1.4rem;

          a {
            padding-left: 0.5rem;
            color: var(--color-link);
          }
        }

        .ratings {
          margin-bottom: 2rem;
        }

        .price {
          display: flex;
          align-items: center;
          gap: 1rem;

          .product-price {
            font-size: 1.8rem;
            font-weight: 550;
          }

          .mark-price {
            font-size: 1.2rem;
            text-decoration: line-through;
            color: gray;
          }

          .discount {
            padding: 0.3rem 0.5rem;
            font-size: 1.35rem;
            background-color: var(--color-text);
            color: var(--color-bg);
          }
        }

        .description {
          margin-block: 3rem;
          text-align: justify;
          line-height: 1.5;
        }

        .product-quantity {
          display: flex;
          gap: 1.5rem;
          align-items: center;

          label {
            font-size: 1.6rem;
          }

          .out-of-stock {
            color: var(--color-error);
            font-size: 1.4rem;
          }

          .add-cart {
            height: 2.5rem;
            width: 2.5rem;
            cursor: pointer;
          }
          // & svg:hover {
          //   color: rgb(179, 54, 54);
          // }
        }
        .line {
          margin-inline: auto;
          width: 100%;
          border: none;
          height: 0.01rem;
          background-color: var(--color-line);
          margin-top: 2rem;
        }

        .seller {
          display: flex;
          gap: 1rem;
          margin-block: 1.5rem 0.8rem;

          label {
            font-size: 1.4rem;
          }

          a {
            color: var(--color-link);
          }
        }

        .stock {
          display: flex;
          gap: 2.3rem;
          label {
            font-size: 1.4rem;
          }
        }
      }
    }
    .long-description {
      margin-top: 5rem;
      color: var(--color-text);
      .line {
        margin-inline: auto;
        width: 100%;

        border: none;
        height: 0.01rem;
        background-color: var(--color-line);
        margin-block: 2rem;
      }

      .heading {
        // font-size: 2.5rem;
        // font-weight: 550;
        display: flex;
        font-family: inherit;
        font-size: 2.4rem;
        &::before,
        &::after {
          content: "";
          flex: 1 1;
          border-bottom: 0.0625rem solid var(--color-line);
          margin: auto;
        }

        &::before {
          margin-right: 1rem;
        }
        &::after {
          margin-left: 1rem;
        }
      }

      .description-content {
        margin-top: 2rem;
        // max-width: 90%;
        text-align: justify;
        line-height: 1.6;
        // margin-inline: auto;
      }
    }
  }
}
