.shop-container {
  background-color: var(--color-profile-page-bg);
  .container {
    max-width: 84%;
    margin: 0 auto;

    .products {
      .heading {
        font-size: 2.4rem;
        font-weight: 600;
        padding-block: 1rem 2.5rem;
        color: var(--color-text);
      }
    }
  }
}
