.shop-container {
  // background-color: var(--color-profile-page-bg);
  background-color: var(--color-user-nav-bg);

  min-height: 100vh;
  min-height: 100svh;
  .container {
    max-width: 84%;
    margin: 0 auto;

    .products {
      .heading {
        font-size: 2.4rem;
        font-weight: 600;
        padding-block: 1rem 2.5rem;
        color: var(--color-text);
      }
    }
  }
}
