@use "../styles/" as *;

.admin-sidebar-container {
  background-color: var(--color-admin-dashboard-foreground);
  color: var(--color-text);
  // border-right: 0.2rem solid var(--color-admin-dashboard-foreground);
  height: 100%;

  .container {
    max-width: 90%;
    margin: 0 auto;
    height: 100%;

    .heading {
      text-align: center;
      // font-size: 1.7rem;
      font-size: clamp(1.1rem, 1.5vw, 1.6rem);

      // font-weight: 600;
      padding-block: 1.5rem 0.5rem;
      // padding-left: 3.5rem;
    }
    // .sub-heading {
    //   text-align: center;
    //   font-size: 1.3rem;
    // }

    ul {
      padding-top: 2.4rem;

      .current-tab {
        background-color: var(--color-user-nav-current);
        font-weight: 600;
        border-radius: 0.3rem;
        // color: var(--current-tab-color);
      }

      li {
        @include flexBox(row, null);
        gap: 7%;
        padding: 1.5rem 3.5rem;
        margin-block: 0.01rem;
        font-size: clamp(1rem, 1.5vw, 1.35rem);

        &:hover {
          background-color: var(--color-user-nav-hover);
          border-radius: 0.3rem;
        }

        p {
          margin-block: auto;
        }

        .dashboard-icon,
        .category-icon,
        .sub-category-icon,
        .product-icon,
        .order-icon,
        .user-icon,
        .logout-icon {
          height: 2.1rem;
          width: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .admin-sidebar-container {
    .container {
      max-width: 100%;
      margin: 0;

      ul {
        li {
          padding: 1.5rem 0;

          .dashboard-icon,
          .category-icon,
          .sub-category-icon,
          .product-icon,
          .order-icon,
          .user-icon,
          .logout-icon {
            height: 1.2rem;
            width: 1.5rem;
          }
        }
      }
    }
  }
}
