@use "../styles/mixins" as *;

.image-slider {
  // height: max;
  height: 91vh;
  // height: max-content;
  position: relative;

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .first-text-container,
    .second-text-container,
    .third-text-container {
      position: absolute;
      top: 35%;
      right: 12%;
      transform: translate(-12%, -35%);

      h1 {
        font-size: 4.5rem;
      }

      h2 {
        font-size: 2.5rem;
        margin-block: 1.5rem 0.5rem;
      }

      .shop-btn {
        padding: 1.3rem 1.3rem;
        background-color: var(--color-bg);
        border: none;
        color: var(--color-text);
        font-size: 1.5rem;
        border-radius: 0.3rem;
        margin-block: 2rem 0;
        cursor: pointer;
      }
    }
  }
  .active {
    display: block;
  }

  .btn-slide {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: none;
    position: absolute;
    @include flexBox(row, center);
    align-items: center;
    cursor: pointer;

    .slider-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  .prev {
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
  .next {
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}

.dot-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  .dot {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    // border: 0.3rem solid var(--color-bg);
    border: 0.3rem solid #f1f1f1;
    margin-inline: 0.5rem;
    // background-color: var(--color-bg);
    background: #f1f1f1;
    cursor: pointer;
  }

  .dot.active {
    // background-color: var(--color-text);
    background: rgb(32, 32, 32);
  }
}
