.user-page-layout {
  padding-block: 3rem;
  background-color: var(--color-profile-page-bg);

  .container {
    max-width: 84%;
    margin-inline: auto;
    display: flex;
    gap: 3rem;

    .user-nav {
      flex-basis: 19%;
    }

    .child-component {
      flex-grow: 1;
      //   flex: calc(81% - 5rem);
      //   max-width: calc(81% - 5rem);
    }
  }
}

@media screen and (max-width: 1200px) {
  .user-page-layout {
    .container {
      max-width: 90%;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .user-page-layout {
    .container {
      max-width: 95%;
      padding-right: 0;
      gap: 2rem;
      flex-direction: column;
    }
  }
}
