@use "../styles/" as *;

.user-nav-container {
  // background-color: var(--background-clr);
  background-color: var(--user-nav-background);

  // background-color: #242526;
  color: var(--text-color);
  border-radius: 0.4rem;
  // height: 70vh;

  ul {
    padding-block: 2.4rem;

    .current-tab {
      background-color: var(--user-nav-current);
      // background-color: var(--profile-hover);
      font-weight: 600;
    }

    li {
      @include flexBox(row, null);
      gap: 5%;
      padding: 1rem 2rem;

      &:hover {
        background-color: var(--user-nav-hover);
      }

      p {
        margin-block: auto;
      }

      .profile-icon,
      .order-icon,
      .review-icon,
      .logout-icon {
        height: 2.2rem;
        width: 2.5rem;
      }

      .cart-icon {
        height: 2.1rem;
        width: 2.5rem;
      }
    }
  }
}
