@use "../styles/mixins" as *;

.user-nav-container {
  // background-color: var(--color-bg);
  background-color: var(--color-user-nav-bg);

  // background-color: #242526;
  color: var(--color-text);
  border-radius: 0.4rem;
  height: 100%;
  // height: 70vh;

  ul {
    padding-block: 2.4rem;

    li {
      a {
        @include flexBox(row, null);
        gap: 5%;
        padding: 1.2rem 2rem;
        margin: 0.01rem;

        &:hover {
          background-color: var(--color-user-nav-hover);
        }
      }
      .current-tab {
        background-color: var(--color-user-nav-current);
        // background-color: var(--color-profile-icon-hover);
        font-weight: 600;
        border-radius: 0.3rem;
        // color: var(--current-tab-color);
      }

      p {
        margin-block: auto;
      }

      .profile-icon,
      .order-icon,
      .review-icon,
      .logout-icon {
        height: 2.2rem;
        width: 2.5rem;
      }

      .cart-icon {
        height: 2.1rem;
        width: 2.5rem;
      }
    }
  }
}
